.container {
  max-width: 1240px;
  height: auto;
  margin: 0 auto;
  padding: 20px;

  h2 {
    font-size: 32px;
    font-weight: bold;
    color: #00acc1;
  }

  .gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;

    .gridItem {
      background-color: #f9f9f9;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 3px 3px 3px 3px rgba(0, 172, 193, 0.1);

      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-bottom: 10px;
      }

      h3 {
        font-size: 20px;
        font-weight: #00acc1;
        color: #00acc1;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
        color: #00acc1;
        margin-bottom: 20px;
        margin-top: 40px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 90px;
      }

      .btn {
        background-color: #fff;
        font-size: 14px;
        font-weight: bold;
        color: #00acc1;
        border-radius: 30px;
        border: 1px solid #00acc1;
        padding: 10px 30px;
        cursor: pointer;
      }
    }
  }
}
