.card {
  display: flex;
  flex-direction: column;
  margin: 0 100px;
  margin-bottom: 40px;
  .content {
    display: flex;
    justify-content: space-between;

    .left {
      p {
        font-size: 32px;
        font-weight: bold;
        color: #00acc1;
      }
    }

    .right {
      font-size: 24px;
      display: flex;
      align-items: center;
      gap: 16px;

      .icon {
        font-size: 28px;
        margin-top: 6px;
      }
    }
  }

  .container {
    margin-top: 20px;

    .item {
      cursor: pointer;
      width: 100%;
      max-width: 300px;
      height: 370px;
      background-color: #f3f4f9;
      overflow: hidden;
      border-radius: 16px;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 2px;
      text-align: left;

      &:hover {
        .img {
          transform: scale(1.1);
        }
        .title {
          color: #00acc1;
        }
      }

      .img {
        max-width: 100%;
        border-top-left-radius: 13px;
        border-top-right-radius: 13px;
        height: 180px;
        object-fit: cover;
      }

      .course {
        margin-left: 12px;

        .title {
          font-size: 22px;
          font-weight: bold;
          margin-top: 16px;
          margin-bottom: 4px;
        }

        .info {
          margin: 2px 0;

          p {
            font-size: 14px;
            line-height: 1.2;
            margin: 4px 0;
            font-weight: normal;
          }
        }

        .footer {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .cost {
            display: flex;
            gap: 8px;

            span:first-child {
              font-size: 20px;
              font-weight: bold;
              color: #00acc1;
            }

            span:last-child {
              font-size: 18px;
              text-decoration: line-through;
              margin-top: 2px;
            }
          }

          p {
            font-size: 13px;
            font-weight: normal;
            margin-right: 10px;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}
