.footer {
  background-color: #00acc1;
  margin-top: 60px;
  .stats {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    background-color: #e0f2f1;
    text-align: center;
    .stat {
      .number {
        font-size: 62px;
        font-weight: bold;
        color: #00acc1;
      }
      .text {
        font-size: 22px;
        font-weight: bold;
        color: #00acc1;
      }
    }
  }

  .infoSection {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    margin-left: 48px;
    width: 70%;
    .infoBox {
      .title {
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        margin-bottom: 20px;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          margin-bottom: 10px;
          color: #fff;
          font-size: 18px;
          line-height: 1.6;
          .infoIcon {
            font-size: 24px;
            position: relative;
            top: 6px;
            margin-right: 12px;
          }
        }
      }
    }
  }

  .copyright {
    text-align: right;
    padding-right: 10px;
    color: #00acc1;
    font-size: 20px;

    span {
      color: white;
      padding: 5px 10px;
      position: relative;
      top: -80px;
    }
  }
}
