.expertSection {
  max-width: 1240px;
  margin: 40px auto;
  padding: 20px 0px;

  .backGround {
    display: flex;
    padding: 60px 2px;

    .img {
      width: 75%;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .content {
      width: 45%;
      margin-left: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
    }

    p {
      width: 100%;
      &:first-child {
        font-size: 36px;
        font-weight: bold;
        color: #00acc1;
        margin-bottom: 0px;
      }

      &:nth-child(2) {
        font-size: 22px;
      }
    }

    .button {
      width: 100%;
      height: 100px;

      .btnContent {
        padding: 14px 10px;
        background-color: #00acc1;
        color: #fff;
        border-radius: 8px;
        border: none;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  @media (min-width: 600px) and (max-width: 1024px) {
    .backGround {
      align-items: center;
      text-align: center;

      .img {
        width: 80%;
        margin-bottom: 20px;
      }

      .content {
        width: 100%;

        margin-left: 20px;
        .title {
          font-size: 28px;
          font-weight: bold;
          color: #00acc1;
          margin-bottom: 0px;
        }
        .script {
          font-size: 18px;
        }
      }

      .button {
        width: 100%;
        height: 100px;

        .btnContent {
          padding: 14px 10px;
          background-color: #00acc1;
          color: #fff;
          border-radius: 8px;
          border: none;
          font-size: 15px;
          font-weight: bold;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .expertSection {
    max-width: 1240px;
    margin: 40px auto;
    padding: 20px 0px;
    .backGround {
      margin: 0px 40px;
      display: flex;
      background-size: cover;
      box-shadow: inset 0 0 0 2000px rgba(7, 7, 7, 0.3);
      background-image: url("../../assets/images/expert.png"); /* Thêm hình nền */

      .img {
        display: none;
        width: 0%;
      }

      .content {
        text-align: left;
        width: 100% !important;
        color: white;
        margin-left: 10px;
        background-size: cover;
        background-position: center;
      }

      p {
        margin: 0;
        text-align: left;

        &:first-child {
          font-size: 24px;
          font-weight: bold;
          color: #fff;
          margin-bottom: 20px;
        }

        &:nth-child(2) {
          font-size: 16px;
          margin-bottom: 20px;
        }
      }

      .button {
        width: 100%;
        height: 100px;

        .btnContent {
          padding: 14px 10px;
          background-color: #00acc1;
          color: #fff;
          border-radius: 8px;
          border: none;
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
}