.slider {
  padding-top: 85px;
  background-color: #00acc1;
  height: 560px;

  .content {
    ul {
      list-style-type: none;

      li {
        padding-left: 60px;
        color: white;
        width: 40%;
        padding-top: 50px;

        &:first-child {
          font-size: 64px;
          font-weight: bold;
        }

        &:nth-child(2) {
          font-size: 15px;
        }

        &:last-child {
          .btn {
            background-color: white;
            color: #00acc1;
            border: none;
            border-radius: 6px;
            font-size: 24px;
            font-weight: bold;
            padding: 10px 14px;
            width: 200px;
            height: 50px;
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    height: auto;
    .content ul li {
      padding-left: 30px;
      width: 60%;

      &:first-child {
        font-size: 48px;
      }

      &:nth-child(2) {
        font-size: 14px;
      }

      &:last-child .btn {
        font-size: 20px;
        width: 180px;
        height: 45px;
      }
    }
  }

  @media (max-width: 768px) {
    height: auto;

    .content ul li {
      padding-left: 20px;
      width: 80%;

      &:first-child {
        font-size: 36px; 
      }

      &:nth-child(2) {
        font-size: 13px;
      }

      &:last-child .btn {
        font-size: 18px;
        width: 160px;
        height: 40px;
      }
    }
  }

  @media (max-width: 480px) {
    height: auto;
    padding-top: 60px;

    .content ul li {
      padding-left: 10px;
      width: 100%;
      text-align: center; 

      &:first-child {
        font-size: 28px; 
      }

      &:nth-child(2) {
        font-size: 12px;
      }

      &:last-child .btn {
        font-size: 16px;
        width: 140px;
        height: 35px;
      }
    }
  }
}
